

.text-caesar {
  font-family: 'Caesar Dressing', cursive;
}

.text-roboto {
  font-family: 'Roboto', sans-serif;
}

.text-open {
  font-family: 'Open Sans', sans-serif;
}

.absolute {
  -webkit-filter: blur(-100px); /* Safari 6.0 - 9.0 */
  filter: blur(-100px);
}
/*nav bar*/


.nav-decor {
  height: 75px;
  background-color: #41bdbd;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-inverse .navbar-nav>li>a {
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 10px 10px;
  padding: 7px 25px;
  color: white;
  font-size: 18px;
}

.navbar-inverse .navbar-nav>li>a:hover {
  background-color: #F4F3F4;
  color: #4B05A9;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  margin-top: 10px;
}

.navbar-inverse {
  margin-bottom: 0px;
}
/*Logo*/
.navbar-inverse .navbar-brand {
  color: #fff;
  font-size: 55px;
  margin-top: 10px;
}

.navbar-inverse .navbar-brand:hover {
  color: #4B05A9;
}


/*nav bar ends*/
/*hero section*/

.jumbotron {
  background-image: url('../img/hero3.jpg');
  background-size: cover;
  width: 100%;
  height: 700px;
  margin-bottom: 0px;
  color: #4B05A9;
}

.jumbo-content h2 {
  margin-top: 60px;
}

.jumbotron h1{
  font-size: 80px;
  margin-top: 150px;
}

.jumbotron .button-1 {
  border: 1px solid #4B05A9;
  border-radius: 10px;
  margin: 10px 10px;
  padding: 7px 25px;
  background-color: transparent;
  color: #4B05A9;
  font-size: 42px;
}

.button-1:hover {
  background-color: #F4F3F4;
  color: #4B05A9;
  text-decoration: none;
}

/*hero section ends*/
/*top content begins*/
.top-content {
  background-color: #F4F3F4;
}

.flex-row {
  display: flex;
  justify-content: space-around;
}

.top-content h1 {
  margin: 100px 0px 50px 0px;
  font-size: 63px;
  text-decoration: underline;
  color: #41bdbd;
}

.work-with-text {
  color: #000;
  font-size: 20px;
  line-height: 29px;
  font-weight: 500;
  margin-top: 50px;

}
/*top content ends*/
/*middle content begins*/
.middle-content {
  background-color: #41bdbd;
  height: 600px;
}
/*middle content ends*/

.grow:hover
{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        transition-duration: 1s;
}

.shrink:hover
{
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        transition-duration: 2s;
}


.work-with:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition-duration: 2s;
  border: solid  5px #F4F3F4;
  display: inline-block;
  text-decoration: none;
  color: #4B05A9;
}
